@model NawafizApp.Services.Dtos.NeihborhoodDto
@using NawafizApp.Web.Models
<meta name="viewport" content="width=device-width" />
<link href="~/Content/jquery-confirm.min.css" rel="stylesheet" />
<div class="container-fluid">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>تعديل الحي</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                @Html.Label("المحافظه", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.stateId, Selects.states(null), new { @class = "form-control", id = "list1" })
                    @Html.ValidationMessageFor(model => model.stateId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("المنطقه", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.RegionId, new List<SelectListItem> { new SelectListItem { Text = ViewBag.regionAName, Value = ViewBag.RegionId, Selected = true, Disabled = false } }, new { @class = "form-control", id = "list2" })
                 @Html.ValidationMessageFor(model => model.RegionId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("الاسم العربي", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.ArabicName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ArabicName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("الاسم الانكليزي", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.EngName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EngName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("الاسم الفرنسي", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.FrenchName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FrenchName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("الاسم الفارسي", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.PersianName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PersianName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("الاسم الروسي", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.RussName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ArabicName, "", new { @class = "text-danger" })
                </div>
            </div>
       
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10  ">
                    <input type="submit" value="حفظ" class="btn btn-default " onclick="return confirm('هل تريد الحفظ بالتأكيد؟');" />
                </div>
            </div>
        </div>
    }
</div>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@*<script>

    $(document).ready(function () {
     
        $.ajax({
            type: 'post',
            url: '@Url.Action("getConvinientRegions", "NeiborHood")',
            data: { sid: $("#list1").val() },
            success: function (data) {

                // var ddldist2 = $('#listbox').parent().children().last();
                var ddldist = $('#list2');

                if (data.length == 1) {
                    //ddldist.html("");// ddldist2.html("");
                    ddldist.empty();



                }
                else {


                    ddldist.empty();

                    $.each(data, function (Val, Text) {



                        ddldist.append(
                            $('<option></option>').val(this.Value).html(this.Text)
                        );

                    });







                }
                if ((this).val() == "-1") { ddldist.empty(); }
            }
        });




        });

</script>*@
<script>
  $("#list1").change(function () {


                 $.ajax({
                     type: 'post',
                     url: '@Url.Action("getConvinientRegions", "NeiborHood")',
                     data: { sid: $(this).val() },
                     success: function (data) {

                         // var ddldist2 = $('#listbox').parent().children().last();
                         var ddldist = $('#list2');

                         if (data.length == 1) {
                             //ddldist.html("");// ddldist2.html("");
                             ddldist.empty();



                         }
                         else {


                             ddldist.empty();

                             $.each(data, function (Val, Text) {



                                 ddldist.append(
                                     $('<option></option>').val(this.Value).html(this.Text)
                                 );

                             });







                         }
                         if ((this).val() == "-1") { ddldist.empty();}
                     }
                 });
             });
</script>
<script>
  $("#list3").change(function () {


                 $.ajax({
                     type: 'post',
                     url: '@Url.Action("getConvinientRegions", "NeiborHood")',
                     data: { sid: $(this).val() },
                     success: function (data) {

                         // var ddldist2 = $('#listbox').parent().children().last();
                         var ddldist = $('#list4');

                         if (data.length == 1) {
                             //ddldist.html("");// ddldist2.html("");
                             ddldist.empty();



                         }
                         else {


                             ddldist.empty();

                             $.each(data, function (Val, Text) {



                                 ddldist.append(
                                     $('<option></option>').val(this.Value).html(this.Text)
                                 );

                             });







                         }
                         if ((this).val() == "-1") { ddldist.empty();}
                     }
                 });
             });
</script>
