@model IEnumerable<NawafizApp.Services.Dtos.BranchAndShopDalDto>
@using NawafizApp.Web.Models
@using NawafizApp.Common;

@{ 
    Layout = null;
}
<link href="~/Content/jquery-confirm.min.css" rel="stylesheet" />
<style>
    .a{
    
   }
    .btn.green:not(.btn-outline):hover {
        background-color: #9c6d16;
        border-color: #d8d45c;
    }

    .btn.green:not(.btn-outline) {
        color: #FFF;
        background-color: #9c6d16;
        border-color: #d8d45c;
    }

    td {
        text-align: center !important;
        vertical-align:middle !important;
    }

    .tttt {
        text-align: center !important;
        background-color: #f5f3a7;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 3px;
        line-height: 1.42857;
        vertical-align: top;
        border-top: 1px solid #e7ecf1;
        
    }

    .table td, .table th {
        font-size: 12px;
    }

    .title2 {
        font-size: 14px !important;
        color: #707127;
    }

    .searchForm {
        margin-bottom: 4% !important;
    }

    .exel {
        display: none;
    }

    .payed {
        background-color: rgba(53, 190, 37, 0.61);
    }

    .notpayed {
        background-color: rgba(224, 47, 47, 0.74);
    }
</style>
@{
    int i = 1;
    string id = "";
    string href = "";
}

@foreach (var s in Model)
            {
                id = "p" + i;
    <div id="@id" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">تفاصيل حول @s.ArabicName</h4>
                </div>
                <div class="modal-body">
                    <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
                        <div class="mayClass">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>

                                    </thead>
                                    <tbody>
                                        
                                            @if (!String.IsNullOrEmpty(s.branchArabicName))
                                            {
                                                <tr>
                                                    <td class="title2">الاسم العربي </td>
                                                    <td> @s.branchArabicName </td>
                                                  </tr>
                                                      }
                                                    @if (!String.IsNullOrEmpty(s.branchEnglishName))
                                                    {
                                                        <tr>
                                                            <td class="title2">الاسم الانكليزي </td>
                                                            <td> @s.branchEnglishName </td>
                                                        </tr>
                                                    }
                                                    @if (!String.IsNullOrEmpty(s.branchFrenchName))
                                                    {
                                                        <tr>
                                                            <td class="title2">الاسم الفرنسي </td>
                                                            <td> @s.branchFrenchName </td>
                                                        </tr>
                                                    }
                                                    @if (!String.IsNullOrEmpty(s.branchPersianName))
                                                    {
                                                        <tr>
                                                            <td class="title2">الاسم الفارسي </td>
                                                            <td> @s.branchPersianName </td>
                                                        </tr>
                                                    }
                                                    @if (!String.IsNullOrEmpty(s.branchRussName))
                                                    {
                                                        <tr>
                                                            <td class="title2">الاسم الروسي </td>
                                                            <td> @s.branchRussName </td>
                                                        </tr>
                                                    }
                                                    @if (!String.IsNullOrEmpty(s.phone2))
                                                    {
                                                        <tr>
                                                            <td class="title2">هاتف 1 </td>
                                                            <td> @s.phone1 </td>
                                                        </tr>
                                                    }
                                               
                                        @if (!String.IsNullOrEmpty(s.phone2))
                                        {
                                            <tr>
                                                <td class="title2"> هاتف 2</td>
                                                <td>@s.phone2</td>

                                            </tr>
                                        }
                                        @if (!String.IsNullOrEmpty(s.phone3))
                                        {
                                            <tr>
                                                <td class="title2"> هاتف 3</td>
                                                <td>@s.phone3</td>

                                            </tr>
                                        }
                                        @if (!String.IsNullOrEmpty(s.email1))
                                        {
                                            <tr>
                                                <td class="title2"> ايميل1</td>
                                                <td>@s.email1</td>

                                            </tr>
                                        }
                                        @if (!String.IsNullOrEmpty(s.email2))
                                        {
                                            <tr>
                                                <td class="title2"> ايميل2</td>
                                                <td>@s.email2</td>

                                            </tr>
                                        }
                                        @if (s.longtitude!=0)
                                        {
                                            <tr>
                                                <td class="title2"> احداثيات الطول </td>
                                                <td>@s.longtitude</td>

                                            </tr>
                                        }
                                        @if (s.latitude != 0)
                                        {
                                            <tr>
                                                <td class="title2"> احداثيات العرض </td>
                                                <td>@s.latitude</td>

                                            </tr>
                                        }
                                        @if (!String.IsNullOrEmpty(s.facebookLink))
                                        {
                                            <tr>
                                                <td class="title2"> رابط الفيس</td>
                                                <td>@s.facebookLink</td>

                                            </tr>
                                        }
                                        @if (!String.IsNullOrEmpty(s.instaLink))
                                        {
                                            <tr>
                                                <td class="title2"> رابط الانستا</td>
                                                <td>@s.instaLink</td>

                                            </tr>
                                        }
                                        @if (!String.IsNullOrEmpty(s.stateName))
                                        {
                                            <tr>
                                                <td class="title2"> المحافظه</td>
                                                <td>@s.stateName</td>

                                            </tr>
                                        }
                                        @if (!String.IsNullOrEmpty(s.regionName))
                                        {
                                            <tr>
                                                <td class="title2"> المنطقه</td>
                                                <td>@s.regionName</td>

                                            </tr>
                                        }
                                        @if (!String.IsNullOrEmpty(s.NeighborhoodName))
                                        {
                                            <tr>
                                                <td class="title2"> الحي</td>
                                                <td>@s.NeighborhoodName</td>

                                            </tr>
                                        }
                                        @if (s.StartActiveTime != null)
                                        {
                                            <tr>
                                                <td class="title2"> بداية الدوام</td>
                                                <td>@DateTimeHelper.ConvertTimeToString(s.StartActiveTime,TimeFormats.HH_MM_AM)</td>

                                            </tr>
                                        }
                                        @if (s.EndActiveTime != null)
                                        {
                                            <tr>
                                                <td class="title2"> نهاية الدوام</td>
                                                <td>@DateTimeHelper.ConvertTimeToString(s.EndActiveTime, TimeFormats.HH_MM_AM)</td>

                                            </tr>
                                        }
                                        @if (!String.IsNullOrEmpty(s.outDays))
                                        {
                                            <tr>
                                                <td class="title2"> أيام العطلة</td>
                                                <td>@s.outDays</td>

                                            </tr>
                                        }
                                      

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn dark btn-outline">إغلاق</button>

                </div>
            </div>
        </div>
    </div>
    i++;
    id = "";
}

<div class="portlet box yellow">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>الفعاليات المسجلة
        </div>

    </div>
    <div class="portlet-body">
        @*<div class="searchForm">
            <form action="#" class="form-horizontal">
                <div class="form-body">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">اختصاص الفعالية</label>
                                <div class="col-md-9">
                                    @Html.DropDownList("main", Selects.MainCategoriesDl(null), new { id = "list1", @class = "form-control" })

                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">من تاريخ</label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="icon-calendar"></i>
                                        <input name="from" id="ddd" class="form-control date-picker" data-date-format="dd/mm/yyyy" type="text" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row">


                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">نوع الفعالية</label>
                                <div class="col-md-9">
                                    @Html.DropDownList("sub", new List<SelectListItem> { }, new { id = "list2", @class = "form-control" })

                                </div>
                            </div>
                        </div>
                        <!--/span-->

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3"> إلى تاريخ</label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="icon-calendar"></i>
                                        <input name="to" id="ddd" class="form-control date-picker" data-date-format="dd/mm/yyyy" type="text" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">المستخدم</label>
                                <div class="col-md-9">
                                    @Html.DropDownList("user", Selects.Users(null), new { id = "list3", @class = "form-control" })

                                </div>
                            </div>
                        </div>

                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-3"></div>
                                <div class="col-md-9">
                                    <button type="submit" class="btn green">بحث</button>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>

                </div>
            </form>

        </div>*@
        <div class="table-responsive">
            <table class="table table-bordered" id="mytab"  >
                <thead class="t" >
                    <tr>
                        <th class="tttt"> # </th>
                        <th class="tttt"> اختصاص الفعالية </th>
                        <th class="tttt"> نوع الفعالية </th>
                        <th class="tttt"> الفعالية بالعربي </th>
                        <th class="tttt">الفعالية بالانكليزي </th>
                        <th class="tttt">الفعالية بالفرنسي </th>
                        <th class="tttt">الفعالية بالفارسي </th>
                        <th class="tttt">الفعالية بالروسي </th>                        
                        <th class="tttt"> المستثمر بالعربي </th>
                        <th class="tttt"> المستثمر بالانكليزي </th>
                        <th class="tttt"> المستثمر بالفرنسي </th>
                        <th class="tttt"> المستثمر بالفارسي </th>
                        <th class="tttt"> المستثمر بالروسي </th>                
                       <th class="tttt" style="vertical-align:middle !important">الفرع</th>                  
                        <th class="tttt" style="width: 8% !important;vertical-align:middle"  >ادارة</th>                        
                        <th class="tttt exel">اسم الفرع</th>
                        <th class="tttt exel">الهاتف1</th>
                        <th class="tttt exel">2الهاتف</th>
                        <th class="tttt exel">3الهاتف</th>
                        <th class="tttt exel">بريد الكتروني</th>
                        <th class="tttt exel">موقع الكتروني</th>
                        <th class="tttt exel">بداية الدوام</th>
                        <th class="tttt exel">نهاية الدوام</th>
                        <th class="tttt exel">أيام العطلة</th>                    
                        <th class="tttt exel">احداثيات الطول</th>
                        <th class="tttt exel">احداثيات العرض</th>
                        <th class="tttt exel"> المحافظه</th>
                        <th class="tttt exel"> المنطقه</th>
                        <th class="tttt exel"> الحي</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        i = 1;
                    }
                    @foreach (var x in Model)
                    {

                        href = "#p" + i;
                        <tr>
                            <td>@i</td>
                            <b>@x.Id</b>
                            <td>@x.mainCategoryName</td>
                            <td>@x.SubCategoryDalName</td>
                            <td>@x.ArabicName</td>
                            <td>@x.EngName</td>
                            <td>@x.FrenchName</td>
                            <td>@x.FrenchName</td>
                            <td>@x.RussName</td>                           
                            <td>@x.ArabicinvesterName</td>
                            <td>@x.EnginvesterName</td>
                            <td>@x.FrenchinvesterName</td>
                            <td>@x.PersianinvesterName</td>
                            <td>@x.RussinvesterName</td>  
                                                                 
                            <td><a class="" data-toggle="modal" href="@href">عرض</a></td>
                           @* @if (x.paymentStatus)
    {
        <td class="payed"> تم <a class="linlpay" href="@Url.Action("payToggle",new { id = x.Id })"><i class="fa fa-remove"></i> إلغاء </a></td>
    }
    @if (!x.paymentStatus)
    {
        <td class="notpayed">لم يتم <a class="linlpay" href="@Url.Action("payToggle",new { id = x.Id })"><i class="fa fa-check"></i>إدفع </a></td>
    }*@
                            <td >
                        
                          @Html.ActionLink("حذف", "deleteBranchAndShopDal", new { id = x.shopId, bid = x.Id }, new { @class = "linkDel" })&nbsp;&nbsp;&nbsp;
                                    
                                @Html.ActionLink("تعديل", "Edit", new { id = x.shopId, bid = x.Id })
                            </td>                                                              
                            <td class="exel">@x.branchArabicName</td>
                            <td class="exel">@x.phone1</td>
                            <td class="exel">@x.phone2</td>
                            <td class="exel">@x.phone3</td>
                            <td class="exel">@x.email1</td>
                            <td class="exel">@x.email2</td>
                            <td class="exel">@x.StartActiveTime</td>
                            <td class="exel">@x.EndActiveTime</td>
                            <td class="exel">@x.outDays</td>                           
                            <td class="exel">@x.longtitude</td>
                            <td class="exel">@x.latitude</td>  
                            <td class="exel">@x.stateName</td>                      
                            <td class="exel">@x.regionName</td>
                            <td class="exel">@x.NeighborhoodName</td>
                        </tr>
                        i++;
                        href = "";
                    }

                </tbody>
            </table>
        </div>
        <button class="btn btn-warning" type="button" onclick="fnExcelReport();">تصدير <i class="fa fa-download"></i></button>
    </div>
</div>
<iframe id="txtArea1" style="display:none"></iframe>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery-confirm.min.js"></script>
<script>
    $('.linkDel').confirm({
        title: 'تأكيد الحذف !',

        content: 'هل تريد بالتأكيد حذف هذه الفعالية ؟',


        buttons: {
            نعم: function () {
                location.href = this.$target.attr('href');
            },
            إلغاء: function () {

            }


        }
    });

    $('.linlpay').confirm({
        title: 'تأكيد العملية !',

        content: 'هل تريد اتمام هذه العملية؟',


        buttons: {
            نعم: function () {
                location.href = this.$target.attr('href');
            },
            إلغاء: function () {

            }


        }
    });
    $('a.twitter').confirm({
        content: "...",
    });
    $('a.twitter').confirm({
        buttons: {
            نعم: function () {
                location.href = this.$target.attr('href');
            }
        }
    });
    $(".jconfirm-content-pane").removeClass("no-scroll");
</script>
<script>
    function fnExcelReport() {
        var tab_text = "<table border='2px'><tr bgcolor='#87AFC6'>";
        var textRange; var j = 0;
        tab = document.getElementById('mytab'); // id of table

        for (j = 0 ; j < tab.rows.length ; j++) {
            tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
            //tab_text=tab_text+"</tr>";
        }

        tab_text = tab_text + "</table>";
        tab_text = tab_text.replace(/<a[^>]*>|<\/a>/g, "");//remove if u want links in your table
        tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
        tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params
        tab_text = tab_text.replace(/<th[^>]*>الفرع|<\/th>/gi, "");
        tab_text = tab_text.replace(/<td[^>]*>عرض|<\/td>/gi, "");
       
     
        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE ");

        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
        {
            txtArea1.document.open("txt/html", "replace");
            txtArea1.document.write(tab_text);
            txtArea1.document.close();
            txtArea1.focus();
            sa = txtArea1.document.execCommand("SaveAs", true, "Say Thanks to Sumit.xls");
        }
        else                 //other browser not tested on IE 11
            sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));

        return (sa);
    }
</script>