@model NawafizApp.Services.Dtos.ChangePasswordDto
@{
    ViewBag.Title = "Register";

}

<style>
      .md-checkbox input[type=checkbox]:checked ~ label > .check {
        opacity: 1;
        -webkit-transform: scale(1) rotate(-45deg) !important;
        -moz-transform: scale(1) rotate(-45deg) !important;
        transform: scale(1) rotate(220deg) !important;
    }

    .md-checkbox label > .check {
        top: -4px;
        right: 6px;
        width: 10px;
        height: 20px;
        border: 2px solid #36c6d3;
        border-bottom: none;
        border-right: none;
        opacity: 0;
        z-index: 5;
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        transform: rotate(-180deg);
        -webkit-transition-delay: .3s;
        -moz-transition-delay: .3s;
        transition-delay: .3s;
    }

    .form-md-checkboxes > label {
        font-size: 14px;
        color: #1f1f1f;
        opacity: 1;
        filter: alpha(opacity=100);
    }
    .form .form-actions, .portlet-form .form-actions {
        padding: 20px;
        margin: 0;
        background-color: #ece7b2;
        border-top: 1px solid #e7ecf1;
    }

    .input-group-addon {
        background-color: #ece7b2;
    }

        .input-group-addon > i {
            color: #c29d0b !important;
        }
</style>
<div class="portlet box yellow">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-lock"></i>تغيير كلمة المرور
        </div>
        @*
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
                <a href="javascript:;" class="reload" data-original-title="" title=""> </a>
                <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
            </div>
        *@
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <br />
        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal custom-form" }))
        {
            @Html.AntiForgeryToken()
            @ViewBag.error
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">الاسم الكامل</label>
                    <div class="col-md-4">

                        @Html.EditorFor(model => model.fullname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.fullname, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">اسم المستخدم</label>
                    <div class="col-md-4">

                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="form-group">
                    <div class="md-checkbox has-warning">
                        @Html.EditorFor(model => model.wantEditpassword, new { htmlAttributes = new { id = "checkbox32", @type = "checkbox", @class = "md-check form-control" } })

                        <label for="checkbox32" class="control-label col-md-3">
                            <span class="inc col-xs-offset-12"></span>
                            <span class="check col-xs-offset-12"></span>
                            <span class="box col-xs-offset-12"></span> تغيير كلمة المرور ؟
                        </label>



                    </div>
                </div>
                <div id="pass" class="form-group" hidden="hidden">
                    <label class="col-md-3 control-label">كلمة المرور القديمة</label>
                    <div class="col-md-4">

                        @Html.PasswordFor(m => m.oldPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.oldPassword, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div id="passc" class="form-group" hidden="hidden">
                    <label class="col-md-3 control-label">كلمة المرور الجديدة</label>
                    <div class="col-md-4">
                        <div class="input-group">

                            @Html.PasswordFor(m => m.newPassword, new { @class = "form-control" })
                          
                            <span class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </span>
                          
                        </div>
                        @Html.ValidationMessageFor(m => m.newPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div id="passc2" class="form-group" hidden="hidden">
                    <label class="col-md-3 control-label">تأكيد كلمة المرور</label>
                    <div class="col-md-4">
                        <div class="input-group">

                            @Html.PasswordFor(m => m.confirmNewPassword, new { @class = "form-control" })
                        
                            <span class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </span>
                         
                        </div>
                        @Html.ValidationMessageFor(m => m.confirmNewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
             


            </div>
         
            <div class="form-actions fluid">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9 col-xs-12">
                        <button type="submit" class="btn btn-warning" style="width:30%">حفظ التغييرات</button>

                    </div>
                </div>
            </div>
        }
        <!-- END FORM-->
    </div>
</div>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script>
     var x = $("#checkbox32");
    x.change(function () {


        if (x.is(":checked")) {
            //  alert("hjghg");
            $("#pass").slideToggle();
            $("#passc").slideToggle();
            $("#passc2").slideToggle();

        }
        else {
            $("#pass").slideToggle();
            $("#passc").slideToggle();
            $("#passc2").slideToggle();
        }
    });
</script>
