@model NawafizApp.Services.Dtos.NotificationDto
@using NawafizApp.Web.Models
<div class="portlet box yellow">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i> الاشعارات
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
              
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group col-md-6" hidden="hidden">
                    @Html.LabelFor(model => model.senderId, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.senderId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.senderId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-6">
                    @Html.Label("العنوان", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-6">
                    @Html.Label("النص", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.content, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.content, "", new { @class = "text-danger" })
                    </div>
                </div>

       
                <div class="form-group col-md-6 ">
                    @Html.Label("الاهتمام", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <select id="multiple" name="favouritid" class="form-control select2-multiple select2-hidden-accessible" multiple="" tabindex="-1" aria-hidden="true" required="true">
                            @foreach (var item in Selects.favourits(null))
                            {
                                <option value="@item.Value">@item.Text</option>
                            }

                        </select>
                       
                    </div>

                </div>

         

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="اضافة" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

    </div>

</div>
