@model NawafizApp.Services.Dtos.OfferDto

<div class="portlet light">
    <div class="portlet-title">
        <h3>
            <b>
               تفاصيل العرض:@Model.Atitle
            </b>
        </h3>
    </div>
    <div class="portlet-body">
        <br />
        <span>تفاصيل العرض العربيه</span><br />
        <span>@Model.Adetails</span><br />
    </div>
    <div class="portlet-title">
        <h3>
            <b>
                معلومات الاتصال 
            </b>
        </h3>
    </div>
    <div class="portlet-body">
        <br />
        <span>موبايل1</span><br />
        <span>@Model.phon1</span><br />
        <span>موبايل2</span><br />
        <span>@Model.phon2</span><br />
        <span>موبايل3</span><br />
        <span>@Model.phon3</span><br />
        <hr />
        <span>ارضي1</span><br />
        <span>@Model.phon4</span><br />
        <span>ارضي2</span><br />
        <span>@Model.phon5</span><br />
        <span>ارضي6</span><br />
        <span>@Model.phon6</span><br />
        <hr />
        <span>رابط الفيس</span><br />
        <span>@Model.faceLink</span><br />
        <span>رابط الانستا</span><br />
        <span>@Model.instaLink</span><br />
        <span>رقم الواتس</span><br />
        <span>@Model.Whatsphon</span><br />

    </div>
</div>